Source: ros-indigo-audio-common
Section: misc
Priority: extra
Maintainer: Austin Hendrix <namniart@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/audio_common
Standards-Version: 3.9.2

Package: ros-indigo-audio-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-audio-capture, ros-indigo-audio-common-msgs, ros-indigo-audio-play, ros-indigo-sound-play
Description: Common code for working with audio in ROS
